<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7916/BookService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookService" contract="SVCBookStore.IBookService"
                name="BasicHttpBinding_IBookService" />
        </client>
    </system.serviceModel>
</configuration>